<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src=" https://todasgamers.com/wp-content/uploads/2016/12/dificultad-videojuegos.png" alt="">
      <img class="control" src="https://pbs.twimg.com/profile_images/535808712162566144/FUjktX4E_400x400.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
        <li class="nav-item subrayar">
          <a class="nav-link text-white textH" routerLink="/games/view"><i class="fas fa-shopping-basket"></i>
            Titulos</a>
        </li>
        <li class="nav-item subrayar">
          <a class="nav-link text-white textH" routerLink="/games/add"> <i class="fas fa-plus-circle"></i>
            Agregar Titulo</a>
        </li>
        <li class="nav-item subrayar">
          <a class="nav-link text-white textH" routerLink="/games"> <i class="fas fa-plus-circle"></i>
            Gestionar Titulos</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 bordes" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-danger" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>