<div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group mb-4">              
            <input type="text" name="title" [(ngModel)] ="game.title" placeholder="Titulo" class="form-control" autofocus>
        </div>
          <div class="form-group mb-4">
            <textarea name="description" [(ngModel)] ="game.description" placeholder="Descripcion..." class="form-control"></textarea>
          </div>
          <div class="form-group mb-4">
            <input name="precio" [(ngModel)] ="game.precio" placeholder="Precio..." class="form-control">
          </div>
          <div class="form-group mb-4">
            <input type="url" name="image URL" [(ngModel)] ="game.image" placeholder="URL imagen" class="form-control">
          </div>
          <div class="form-group mb-4">
          <button class="btn btn-warning btn-block" (click)="edit ? updateGame(): saveNewGame()">
            Guardar
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
<div class="col-md-4">
  <div class="card card-body text-center"> 
  <img [src]="game.image == '' ? '/assets/noimage.jpg' : game.image " class="card-img-top">
  <h3>{{game.title == '' ? 'Escribe el titulo' : game.title}}</h3>
  <p>{{game.description == '' ? 'Escribe la descripción' : game.description}}</p>
  <p>{{game.created_at | date:'yyyy-MM-dd'}}</p>
  </div>
</div>