<div class="col-md-4" *ngFor="let game of games">
    <div class="card text-center cHover">
        <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
            {{game.title}}
            <button class="btn btn-danger" (click)="deleteGame(game.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="game.image" class="card-img-top">
        <div class="card-body">
            <a [routerLink]="['/games/edit', game.id]" class="btn btn-success btn-block">
                EDITAR
            </a>
        </div>
    </div>
</div>