<div class="col-md-4 offset-md-2 imagenc">
  <div class="text-center car">
    <div class="msi">
      <p>HASTA 18 MSI</p>
    </div>
    <br>
    <img [src]="game.image == '' ? '/assets/noimage.jpg' : game.image " class="card-img-top">
    <br>
  </div>
</div>
<div class="col-md-4">
  <div class="">
    <div class="card-body">
      <form>
        <div class="form-group descriptionFont">
          <label>{{game.description}}</label>
        </div>
        <div class="precioUnitario">
          <label>
            <p class="neon">Precio: ${{game.precio}}
              <img class="iconosTD"
                src="https://dh3yyy4wyj8lf.cloudfront.net/ekt-storefront/img-sites/components-io/recogerTienda.svg">
              <img src="https://dh3yyy4wyj8lf.cloudfront.net/ekt-storefront/img-sites/components-io/envioDomicilio.svg">
            </p>
          </label>
          <select id="select1" onchange="cargar();">
            <option selected>Seleccione tu consola</option>
            <option value="1">xbox</option>
            <option value="2">PS4</option>
            <option value="3">Wii</option>
        </select>
        </div>
        <div>
          <button class="fas fa-minus-circle liMinus" (click)="restaInput(cantidad.value)"></button>
          <input #cantidad id="cantidad" type="number" min="0" max="10" name="cantidad" class="inputCantidad" value="1"
            disabled>
          <button class="fas fa-plus-circle liPlus" (click)="sumaInput()"></button>
        </div>
        <div class="totalaPagar">
          <label class="neon">Total a Pagar: $</label><input #PagoTotal id="PagoTotal" type="number" min="0" max="10"
            name="cantidad" class="tamañoPagoT" disabled>
        </div>
        <div>
          <form>
            <div class="form-group">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwet7HSy4z_nMA8lrqXOAg17sxUcvYCZ1GiVO5UBPhwoTHsEd2Re6cr9W8EP65cANMuP4&usqp=CAU">
            </div>
          </form>
        </div>
        <br>
        <div class="form-group mb-4">
          <button class="btn btn-warning btn-block alg-center boton" (click)="showModal(PagoTotal.value, game.title)"
            [routerLink]="['/games/view']">
            Comprar
          </button>
          
           
        </div>
      </form>
    </div>
  </div>
</div>